body {
	background:#FCC;
	padding: 0px;
	margin-top: 1px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#container {
	padding: 0px;
	width: 800px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	height: 900px;
}
#banner {
	height: 100px;
	width: 800px;
	background-repeat: no-repeat;
	background-image: url(../images/banner.jpg);
}
#globallink {
	background-image: url(../images/globallink.jpg);
	margin: 0px;
	padding: 0px;
	width: 800px;
	height: 30px;
}
#globallink ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
#globallink li {
	text-align: center;
	width: 100px;
	float: left;
}
#globallink a {
	color: #F8FF79;
	text-decoration: none;
	font-size: 14px;
	background-image: url(../images/globallink%20a.jpg);
	background-repeat: no-repeat;
	display: block;
	padding-top: 7px;
	padding-bottom: 9px;
	padding-right: 6px;
	padding-left: 6px;
}
#globallink a:link,#globallink a:visited {
	color: #F8FF79;
	text-decoration: none;
}
#globallink a:hover {
	color: #FFFFFF;
	text-decoration: underline;
	background-image: url(../images/a%20hover.jpg);
	background-repeat: no-repeat;
}
caption {
	font-family: "新宋体";
	font-size: 30px;
	color: #666666;
	font-weight: bold;
	text-align: left;
}
#f {
	padding: 0px;
	height: 400px;
	width: 800px;
	background-image: url(../images/form.jpg);
	background-repeat: no-repeat;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#f form {
	margin: 0px;
	padding: 0px;
	height: 380px;
	width: 800px;
}
#f table {
	margin: 0px;
	padding: 0px;
	height: 350px;
	font-family: "新宋体";
	font-size: 18px;
	color: #333333;
}
input {
	font-family: "新宋体";
	font-size: 18px;
	color: #333333;
	height: 23px;
}
#btn {
	background-color: #FFDF7C;
}
#f p {
	font-family: "新宋体";
	font-size: 12px;
	color: #333333;
}
#tj {
	height: 10px;
	width: 10px;
}
label {
	font-family: "新宋体";
	font-size: 14px;
	color: #FF0000;
}
#denglu {
	height: 82px;
	width: 800px;
	font-family: "幼圆";
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	background-image: url(../images/denglu.jpg);
	display: block;
	padding: 0px;
	margin: 0px;
}
#denglu a:link,#denglu a:visited {
	color: #CC33FF;
	text-decoration: none;
}
#denglu a:hover {
	color: #FF0000;
	text-decoration: underline;
}
#bottom {
	padding: 0px;
	float: left;
	height: 150px;
	width: 798px;
	margin-top: 2px;
	text-align: center;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#bottom p {
	text-align: center;
	padding: 0px;
}
#bottom1 {
	float: left;
	height: 150px;
	width: 259px;
	margin: 0px;
	padding: 0px;
}
#bottom2 {
	margin: 0px;
	padding: 0px;
	float: left;
	height: 150px;
	width: 280px;
}
#bottom3 {
	margin: 0px;
	padding: 0px;
	float: left;
	height: 150px;
	width: 259px;
}
#bottom a:link,#bottom a:visited {
	font-family: "隶书";
	font-size: 16px;
	text-decoration: none;
	color: #333333;
	line-height: 20px;
}
#bottom a:hover {
	color: #0099FF;
	text-decoration: underline;
}
